---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="椿谷勇次 | 秋田県小坂町町長選挙立候補者">
	<main>
		<p class="lg:text-cyan-400 md:text-slate-500 md:text-lg text-base text-white">aaaaaa</p>
	</main>
</Layout>
