---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Thoughts from '../components/Thoughts.astro';
import Dialogue from '../components/Dialogue.astro';
import Policy from '../components/Policy.astro';
import Profile from '../components/Profile.astro';
import ProfileSub from '../components/ProfileSub.astro';
import Support from '../components/Support.astro';
import FixedLine from '../components/FixedLine.astro';
import Footer from '../components/Footer.astro';
import Loading from '../components/Loading.astro';
import Recommend from '../components/Recommend.astro';
---

<Layout title="つばきや勇次 | 秋田県小坂町選挙立候補者">
	<main class="relative">
		<Loading />
		<Hero />
		<Nav />
		<Thoughts />
		<Dialogue />
		<Policy />
		<Profile />
		<ProfileSub />
		<Recommend />
		<Support />
		<FixedLine />
	</main>
	<Footer />
</Layout>
