<section id="dialogue" class="mb-20 md:mb-24">
	<div class="max-w-container px-4 md:px-6 mx-auto">
		<div class="grid gap-1 grid-cols-3">
			<img
				src="https://placehold.jp/300x400.png"
				class="rounded-tl-xl rounded-bl-xl"
				alt=""
			/>
			<img src="https://placehold.jp/300x400.png" alt="" />
			<img
				src="https://placehold.jp/300x400.png"
				class="rounded-tr-xl rounded-br-xl"
				alt=""
			/>
		</div>
	</div>
</section>
