---
import ChatBubbleLeftRight from 'astro-heroicons/solid/ChatBubbleLeftRight.astro';
---

<a
	href=""
	class="hidden z-50 font-bold border-solid border-[#00a73c] text-[#00a73c] max-w-[275px] fixed bottom-12 left-3 md:left-8 text-base md:text-[21px] gap-1 md:gap-3 md:flex items-center bg-white border-[3px] rounded-full px-6 py-2 md:py-3 md:px-8 shadow-md hover:bg-[#00a73c] hover:text-white group"
	><ChatBubbleLeftRight
		class="w-[1.5em] text-[#00a73c] group-hover:text-white"
	/>公式LINEに登録
</a>

<div class="md:hidden fixed h-16 bottom-0 w-full bg-zinc-100">
	<div class="flex items-center pl-4 py-1 h-full">
		<a
			href=""
			class="font-bold border-solid border-[#00a73c] text-[#00a73c] rounded-md h-12 w-full max-w-[75%] text-base gap-3 flex items-center justify-center bg-white border-[3px] px-6 py-2"
			><ChatBubbleLeftRight class="w-[1.5em] text-[#00a73c]" />公式LINEに登録
		</a>
	</div>
</div>
