<section id="greeting" class="py-20 md:pt-32 md:pb-44 bg-greeting-bg bg-fixed">
	<div
		class="w-full md:max-w-[700px] px-4 mx-auto [&>p]:text-base md:[&>p]:text-lg [&>p]:leading-7 md:[&>p]:leading-8 [&>p]:mb-3"
	>
		<h2
			class="text-2xl md:text-4xl text-center font-bold bg-greeting-heading bg-contain bg-no-repeat bg-center pb-4 pt-1 md:pb-6 md:pt-2 mb-8 md:mb-14"
		>
			ご挨拶
		</h2>
		<p>小坂町議会選挙で297もの票を賜り、当選させていただきました。</p>
		<p>
			小坂町は、いい町だ。と生まれた時から耳にしてましたが、今はいい町だった。と聞きます。変えていくのは今生きている私たち町民だと思います。
		</p>
		<p>議員活動で大事にしたいのは「行動・アクション」です。</p>
		<p>
			小さなことでも変化を起こします。変化改善の積み重ねから、いい町と実感できる小坂町にしてまいります。
		</p>
		<p>
			今回の選挙戦、もちろん私以外に投票された方もいらっしゃると思いますが、ほかの議員さんにもお力添えいただきながら、一緒に小坂町をよくしていきたいと考えております。
		</p>
		<p>
			最後になりましたが、2ヶ月にわたる政治活動、そして1週間の選挙運動において、本当にたくさんの方に助けていただきました。
		</p>
		<p>
			後援会の皆さま、事務所スタッフの皆さま、ウグイスの皆さま、そしてたくさんのボランティアの皆さま。本当に、ありがとうございました。
		</p>
		<p>手始めに、小坂町に駄菓子屋を復活させます。</p>
		<p>
			民間でやれることからやりまして、議員としての財政改革、行政改革、AIを利用した町制に繋げていきます。
		</p>
	</div>
</section>
