---
type Nav = {
	name: string;
	link: string;
};
const nav: Nav[] = [
	{
		name: '小坂町への想い',
		link: 'thoughts',
	},
	{
		name: '政策',
		link: 'policy',
	},
	{
		name: 'プロフィール',
		link: 'profile',
	},
	{
		name: 'ご支援のお願い',
		link: 'support',
	},
];
import Bars3 from 'astro-heroicons/solid/Bars3.astro';
---

<>
	<div class="block fixed bottom-2 right-4 md:hidden z-[60]" id="menuButton">
		<button
			class="w-12 h-12 bg-white rounded-lg flex justify-center items-center"
			><Bars3 class="text-[#222] w-9 h-9" /></button
		>
	</div>
	<nav
		class="hidden fixed mb-16 md:w-auto md:h-auto md:top-0 md:block md:sticky bg-[rgba(255,255,255,.94)] z-40"
		id="menuContent"
	>
		<ul
			class="max-w-container px-4 md:px-6 mx-auto border-accent flex justify-around flex-col md:flex-row items-center border-solid border-y"
		>
			{
				nav.map((item) => (
					<li class="text-lg font-bold md:py-4">
						<a
							href={`#${item.link}`}
							class="hover:text-accent hover:md:border-b-4 hover:border-accent hover:border-solid block py-4 md:inline md:py-0"
						>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</>
<style>
	#menuContent {
	}
	#menuContent.active {
		display: block;
		height: calc(100svh - 4rem);
		top: 0;
		display: flex;
		align-items: center;
		width: 100%;
	}
	#menuContent.active ul {
		width: 100%;
	}
	#menuContent.active ul li {
		border-bottom: 1px solid #87000c;
		width: 100vw;
		margin: 0 calc(50% - 50vw);
		text-align: center;
	}
	#menuContent.active ul li:last-child {
		border-bottom: none;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const menuButton = document.getElementById('menuButton');
		const menuContents = document.getElementById('menuContent');
		const menuContent = document.querySelectorAll('#menuContent ul li a');
		if (!menuButton || !menuContents) {
			return;
		}
		menuButton.addEventListener('click', function () {
			menuContents.classList.toggle('active');
		});
		menuContent.forEach((item) => {
			item.addEventListener('click', function () {
				menuContents.classList.remove('active');
			});
		});
	});
</script>
