---
import { Image } from 'astro:assets';
import MainImage from '../images/policy/image-policy.jpg';
import Target01 from '../images/policy/image-policy01.svg';
import Target02 from '../images/policy/image-policy02.svg';
import Target03 from '../images/policy/image-policy03.svg';
import PhoneArrowUpRight from 'astro-heroicons/solid/PhoneArrowUpRight.astro';
---

<section id="policy" class="bg-policy-bg">
	<div class="max-w-container px-4 md:px-6 mx-auto">
		<div class="mx-[calc(50%-50vw)] w-screen relative">
			<Image
				src={MainImage}
				alt=""
				loading="lazy"
				class='relative w-full before:absolute before:content-[""] before:bottom-0 before:left-0 before:w-full before:bg-accent before:h-20'
			/>
			<div class="bg-policy-pattern block absolute inset-[0%]"></div>
			<div class="bg-policy-pattern02 block absolute inset-[0%]"></div>
			<h2
				class="absolute -mb-2 bottom-0 text-white w-full leading-none indent-[0.4em] tracking-[0.4em] md:indent-[0.4em] md:tracking-[0.4em] text-justify md:text-center text-[11vw] md:text-[6vw] font-bold"
			>
				あなたと創る小坂の未来
			</h2>
		</div>
		<div
			class="grid grid-cols-1 items-center md:grid-cols-policy gap-4 md:gap-[34px_24px] pt-8 pb-8 md:pt-16 md:pb-32"
		>
			<h3><Image src={Target01} alt="" class="0" loading="lazy" /></h3>
			<ul
				class="[&>li]:text-base [&>li]:leading-7 [&>li]:before:text-3xl md:[&>li]:text-[21px] md:[&>li]:leading-[35px] [&>li]:pl-[2em] [&>li]:font-bold [&>li]:relative [&>li]:before:absolute [&>li]:before:left-0 [&>li]:before:h-[1em] [&>li]:before:flex [&>li]:before:items-center [&>li]:before:content-['⚫︎'] [&>li]:before:text-accent md:[&>li]:before:text-4xl"
			>
				<li>飲み屋の整備・活性化・ITお手伝い</li>
				<li>生活の環境整備。</li>
				<li>クマ対策</li>
				<li>
					電話で繋がるコミュニケーション 直接お電話ください！<br /><a
						href="tel:08040001998"
						class="flex mt-2 gap-x-3 w-fit rounded-md bg-accent px-3.5 py-2.5 text-base font-semibold text-white shadow-lg hover:bg-rose-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent"
						><PhoneArrowUpRight class="w-6 he-6" />電話をかける</a
					>
				</li>
			</ul>
			<h3><Image src={Target02} alt="" class="0" loading="lazy" /></h3>
			<ul
				class="[&>li]:text-base [&>li]:leading-7 [&>li]:before:text-3xl md:[&>li]:text-[21px] md:[&>li]:leading-[35px] [&>li]:pl-[2em] [&>li]:font-bold [&>li]:relative [&>li]:before:absolute [&>li]:before:left-0 [&>li]:before:h-[1em] [&>li]:before:flex [&>li]:before:items-center [&>li]:before:content-['⚫︎'] [&>li]:before:text-accent md:[&>li]:before:text-4xl"
			>
				<li>飲食イベントの開催。場所つくる</li>
				<li>明治100年通りの整備</li>
				<li>康楽館の活用、飲食店化に検討</li>
				<li>子育て支援金増額</li>
				<li>銀山町の椿谷洋服店移転検討</li>
				<li>奥奥八九郎温泉の活用検討</li>
				<li>IT関連予算の見直し</li>
				<li>ふるさと納税強化による税収増加</li>
			</ul>
			<h3><Image src={Target03} alt="" class="0" loading="lazy" /></h3>
			<ul
				class="[&>li]:text-base [&>li]:leading-7 [&>li]:before:text-3xl md:[&>li]:text-[21px] md:[&>li]:leading-[35px] [&>li]:pl-[2em] [&>li]:font-bold [&>li]:relative [&>li]:before:absolute [&>li]:before:left-0 [&>li]:before:h-[1em] [&>li]:before:flex [&>li]:before:items-center [&>li]:before:content-['⚫︎'] [&>li]:before:text-accent md:[&>li]:before:text-4xl"
			>
				<li>就職/進学支援。面接、レジュメ対策支援</li>
				<li>首都圏でも戦えるスキル支援</li>
				<li>大館、花輪への高校通学ライン、無償化検討</li>
				<li>小中学生の給食、無償化検討</li>
				<li>小学生手当、増額検討</li>
			</ul>
		</div>
	</div>
</section>
