---
import { Image } from 'astro:assets';
import image01 from '../images/profile/image01.jpg';
import image02 from '../images/profile/image02.jpg';
import image03 from '../images/profile/image03.jpg';
---

<section class="pt-4 pb-8 md:pt-24 md:pb-16">
	<div class="max-w-container px-4 md:px-6 mx-auto">
		<h2 class="font-bold text-3xl md:text-[33px] text-center mb-9">
			<span class="text-[45px] md:text-[50px] text-accent">つばきや</span
			>勇次<span
				class="font-rounded text-[21px] md:text-[32px] mt-3 md:mt-0 block md:inline"
				>が町長を志すまで</span
			>
		</h2>
		<h3
			class="text-lg py-3 px-6 font-bold bg-accent text-white text-center max-w-[500px] rounded-full mx-auto"
		>
			セブンイレブン・旧ライブドアオート・ヤッパ時代
		</h3>
		<div
			class="grid grid-cols-1 md:grid-cols-profile gap-6 mt-7 mb-10 md:mt-14 md:mb-20"
		>
			<p class="text-base md:text-lg">
				大学に行く費用が無かったので高卒で働きはじめる。毎日9:00-24:00まで働く。田舎から何も知らない状態で、IT業界に飛び込みイロハを学ぶ。四半期決算、資金調達等の財務・経理業務。取締役会、株主総会運営、事業計画作成などの経営企画業務を担当
			</p>
			<Image
				src={image01}
				alt=""
				loading="lazy"
				class="mx-auto md:mx-[unset] w-[320px] h-[260px] md:h-[320px] object-bottom md:object-center object-cover rounded-xl"
			/>
		</div>
		<h3
			class="text-lg py-3 px-6 font-bold bg-accent text-white text-center max-w-[500px] rounded-full mx-auto"
		>
			ZOZO時代
		</h3>
		<div
			class="grid grid-cols-1 md:grid-cols-profile gap-6 mt-7 mb-10 md:mt-14 md:mb-20"
		>
			<p class="text-base md:text-lg">
				将来的に小坂町で政治家を志しはじめた時期に、地元が千葉で宇宙に行くような経営者に、「総理大臣にはならないの？」と言われ、ハッとする。自分の身の回りの笑顔を増やすことを小さく始めていくが、それを広げていくことを肝に銘じる。自分の半径50mから始め、まずは小坂町に笑顔を増やす。秋田県を元気にしていく。ZOZOの東京オフィスの責任者、エンジニア・デザイナー採用を中心に人事総務業務を担当。
			</p>
			<Image
				src={image02}
				alt=""
				loading="lazy"
				class="mx-auto md:mx-[unset] w-[320px] h-[260px] md:h-[320px] object-cover rounded-xl"
			/>
		</div>
		<h3
			class="text-lg py-3 px-6 font-bold bg-accent text-white text-center max-w-[500px] rounded-full mx-auto"
		>
			小田原時代〜現在
		</h3>
		<div
			class="grid grid-cols-1 md:grid-cols-profile gap-6 mt-7 mb-10 md:mt-14 md:mb-20"
		>
			<div>
				<p class="text-base md:text-lg mb-4">
					活動の拠点を神奈川県小田原市に移し、地域コミュニティに携わる。
				</p>
				<p class="text-base md:text-lg mb-4">
					小田原市から委託を受けて、クリエイティブワークスペースのARUYOODAWARAを運営しております。
					<a
						href="https://aruyo.me/"
						class="text-accent hover:underline block"
						target="_blank">https://aruyo.me/</a
					>
				</p>
				<p class="text-base md:text-lg mb-4">
					神奈川県庁から委託を受けて、起業家育成チャレンジャープログラムを運営している、一般財団法人八三財団の理事。
					<a
						href="https://www.83foundation.org/"
						class="text-accent hover:underline block"
						target="_blank">https://www.83foundation.org/</a
					>
				</p>
				<p class="text-base md:text-lg">
					No.1子どもの見守りGPSサービスBoTトーク開発のビーサイズ株式会社ビーサイズ株式会社管理部門統括CFO
					<a
						href="https://www.bsize.com/bot/talk "
						class="text-accent hover:underline block"
						target="_blank"
						>https://www.bsize.com/bot/talk
					</a>
				</p>
			</div>
			<Image
				src={image03}
				alt=""
				loading="lazy"
				class="mx-auto md:mx-[unset] w-[320px] h-[260px] md:h-[320px] object-cover rounded-xl"
			/>
		</div>
	</div>
</section>
