---
import { Image } from 'astro:assets';
import saito from '../images/recommend/saito.png';
---

<section class="pt-12 pb-12 md:pt-24 md:pb-16">
	<div class="max-w-container px-4 md:px-6 mx-auto">
		<h2
			class="font-bold text-3xl md:text-[33px] text-center mb-9 leading-[2.7rem]"
		>
			<span class="text-[45px] md:text-[50px] text-accent">つばきや</span
			>勇次<span class="font-rounded text-[21px] md:text-[32px] mt-3 md:mt-0"
				>を、<br
					class="block lg:hidden"
				/>小坂町の未来を変えるリーダーに！</span
			>
		</h2>
		<div
			class="flex flex-col md:flex-row justify-between gap-8 md:gap-10 lg:gap-16 items-center md:items-start"
		>
			<div>
				<p class="text-base md:text-lg mb-6">
					少子高齢化が到来したこの日本で、地方の未来をより明るいものに変える街づくりは簡単なことではありません。だからこそ、つばきやさんに託したい。
				</p>
				<p class="text-base md:text-lg mb-6">
					38才という年齢は、ぶどうに例えるなら、フレッシュさと成熟さをバランス良く兼ね備え、収穫するには絶好のタイミング。
					ビジネスマンとしても一騎当千の彼が、これまでの知見を活かし、さらなる活躍の場として選択するのは、地元小坂町での貢献です。
					彼のその決断は、私と出会った10年前からの揺るがぬ想いです。
				</p>
				<p class="text-base md:text-lg mb-6">
					これからは人生100年時代。誰もが、何歳になっても若々しく活躍できる街の仕組みづくりが必要です。また、テクノロジーを上手に活用すれば、地方ならではの魅力を国内外に発信し、街の収入を増やすことも可能な時代です。
				</p>
				<p class="text-base md:text-lg mb-6">
					小坂町の未来を変える。
					そんな新しい時代の街づくりには、ビジネスの知見と地元愛溢れるリーダーの存在が不可欠。だからこそ、つばきやさんに託すべき。私はそう思います。
				</p>
				<p>
					<span class="text-xl">齊藤修一</span><br />
					17LIVE株式会社 社外監査役<br />
					株式会社ベルク 社外取締役<br />
					マイクロ波化学株式会社 社外取締役<br />
					株式会社LIG 社外取締役
				</p>
			</div>
			<Image
				src={saito}
				alt="齊藤修一"
				class="w-[320px] h-[320px] object-cover object-[top_-40px_left_50%] md:object-top md:w-[250px] md:h-auto lg:w-[300px] rounded-xl"
			/>
		</div>
	</div>
</section>
