<section id="thoughts" class="mb-20 md:mb-24">
	<div class="max-w-container px-4 md:px-6 mx-auto">
		<h1
			class="text-2xl md:text-[38px] md:leading-tight font-bold mb-9 relative before:absolute before:content-[''] before:letf-0 before:top-5 before:left-3 before:md:left-6 before:bg-emblem before:bg-no-repeat before:bg-contain before:w-[80px] before:h-[80px] before:md:w-[100px] before:md:h-[100px]"
		>
			私たちの小坂町を、<br />世界一笑顔が溢れる街へ。
		</h1>
		<div
			class="max-w-[640px] [&>p]:text-base [&>p]:mb-4 md:[&>p]:text-lg md:[&>p]:mb-6"
		>
			<p>はじめまして。つばきや勇次と申します。</p>
			<p>
				小坂町銀山町で育ち、東京、千葉、神奈川など関東で生活し、IT系の会社でビジネススキルを磨いてきました。
			</p>
			<p>
				東京からアクセスのとても悪い小坂町には、年に1回きては、友だちと会って、また東京に戻る。という生活をしておりました。
			</p>
			<p>
				しかし今、小坂町は危機的な状況にあります。<br
				/>人口が1年で100人程度減少してます。このままでは、小坂町が消滅してしまいます。
			</p>
			<p>
				私は、ただ、小坂町の人口を増やしたいわけではありません。やりたいことは、<span
					class="bg-[#fff080] font-bold"
					>今、住んでいる町民が笑顔で居続けられる環境を維持すること。</span
				>現状は、それすらままになりません。
			</p>
			<p>
				4400人の町民が居て、元町民もたくさん居るのに、故郷がなくなるのは寂しすぎます。どうかあなたの力を貸してください。よろしくお願いいたします。
			</p>
			<p class="text-right">つばきや勇次</p>
		</div>
	</div>
</section>
