---
import '../styles/global.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja" class="bg-white scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="小坂町をもっといい未来へ、小坂町に子どもの笑い声を。小坂町民に限らず、元町民の方、全く小坂を知らない人でも、小坂町を一緒に創っていきませんか？どうかあなたの力を貸してください。"
		/>
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			type="image/png"
			href="/apple-touch-icon-180x180.png"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-body text-[#222] overflow-hidden">
		<slot />
	</body>
</html>
